files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      certificate file contents
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      private key contents # See note below.
      -----END PRIVATE KEY-----

# Note:
# Avoid committing a configuration file that contains your private key
# to source control. After you have tested the configuration and
# confirmed that it works, store your private key in Amazon S3 and
# modify the configuration to download it during deployment.
# For instructions, see 
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/https-storingprivatekeys.html
